*,
*::before,
*::after {
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Montserrat';
	font-weight: 500;
	margin: 0 auto;
	padding: 0;
	height: 100vh;
	background-color: hsl(30, 38%, 92%);
	font-size: 14px;
}

.wrapper {
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 900px;
}

.container {
	display: flex;
	background-color: hsl(0, 0%, 100%);
	width: 600px;
	margin: 0 auto;
	border-radius: 10px;
	overflow: hidden;
}

.content {
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.image {
	height: 450px;
}

.image img {
	width: 300px;
}

.sub-title {
	letter-spacing: 5px;
	color: hsl(228, 12%, 48%);
}

h1 {
	font-family: 'Fraunces';
	color: hsl(212, 21%, 14%);
	font-size: 36px;
	line-height: 36px;
	margin: 0;
}

p {
	color: hsl(228, 12%, 48%);
	margin: 0;
	line-height: 21px;
}

.price {
	display: flex;
	gap: 20px;
	align-items: center;
}

.new-price {
	font-family: 'Fraunces';
	font-size: 32px;
	color: hsl(158, 36%, 37%);
}

.old-price {
	text-decoration: line-through;
	color: hsl(228, 12%, 48%);
	font-size: 13px;
	padding-bottom: 2px;
}

button {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: hsl(158, 36%, 37%);
	color: hsl(0, 0%, 100%);
	font-family: 'Montserrat';
	font-weight: 700;
	width: 100%;
	height: 50px;
	border-radius: 8px;
	cursor: pointer;
}

.attribution {
	margin-top: 15px;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (hover:hover) {
	button:hover {
		background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
	}
}

@media (max-width: 600px) {

	.wrapper {
		display: block;
		margin: 25px 0;
	}

	.container {
		width: 345px;
		flex-direction: column;
	}

	.image {
		height: 241.4px;
	}

	.image img {
		width: 345px;
	}

	h1 {
		font-size: 32px;
		margin: 12px 0;
	}

	p {
		line-height: 23px;
	}

	.content {
		padding: 25px;
	}

	.sub-title {
		font-size: 12px;
	}

	.price {
		margin: 20px 0 15px 0;
	}
}